<template name="TodoIndex">
  {{> header}}

  {{#if currentUser}}
    <h6>Logged in as: {{currentUser.username}}</h6>
  {{/if}}

  <p>
    {{#each sampleArray}}
      {{> sample}}
    {{/each}}
  </p>
  <hr>
  <h6>Tasks ({{incompleteCount}})</h6>
  <ul>
    {{#each tasks}}
      {{> task}}
    {{/each}}
  </ul>
  <label class="hide-completed">
    <input type="checkbox" checked="{{hideCompleted}}" />
    Hide Completed Tasks
  </label>
  
  {{> account}}

  {{#if currentUser}}
    <form class="new-task">
      <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>
  {{/if}}
</template>
